.flex{
  display: flex;
}

.half{
  flex-basis: calc(100% / 2 - 15px);
}

.margin5{
  margin: 5px;
}

.marginCenter{
  margin: 5px auto 5px auto;
}

.searchContainer{
  flex-direction: column;
}

.textCenter{
  text-align: center;
}

.float{
  position: absolute;
  z-index: 1;
}

nav{
  line-height: 43px;
  font-size: x-large;
  width: 100%;
  display: flex;
  text-decoration: none;
  border: black solid 4px;
  height: 50px;
}

.navOption{
  text-align: center;
  flex-basis: calc(100% / 2 - 5px);
  border: black solid 2px
}

.active{
  background-color: red;
  color:white;
}